@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+VIC+WA+NT+Beginner:wght@400;500&family=Kaushan+Script&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,500;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Square+Peg&display=swap');

@font-face {
    font-family: Android;
    src: url(/ex08/fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor3:#3ddc84;
    --cor4:#2fa866;
    --cor5:#1a5c37;
    --cor6:#063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive; 
    --fonte-android: 'Android', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #c5ebd6;
    font-family: var(--fonte-padrao);
}

a.externo::after{
    content: '\00A0\1F517';
    /* ISSO É PARA TODOS OS LINKS QUE TIVEREM A CLASS EXTERNO IRA RECEBER A CORRENTEZINHA PARA SER REDIRECIONADO PARA OUTRO LINK O (::AFTER) SERVE PARA POR ESSE SIMBOLO NO FINAL DO NOME */
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor6));
    min-height: 150px; /*ALTURA DO MEU HEADER*/
    text-align: center;
    padding-top: 40px;

} 

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px  rgba(0, 0, 0, 0.267);
}
header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px  rgba(0, 0, 0, 0.315 );
}

nav{
    background-color: var(--cor5) ;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.418);
}

nav > a{
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: var(--cor1);
    color: var(--cor6);
}

main{
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    margin-bottom: 30px; /*UM ESPAÇO NO FOOTER*/
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;  /*BORDA INFERIOR DO MEU MAIN*/
    border-bottom-right-radius: 10px;
}

main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal ;
    font-size: 1.8em;
}

main h2{
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor3), transparent);
    text-indent: 8px;
}

main p{
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;  
    line-height: 2em; /*ESPAÇAMENTO ENTRE LINHAS*/
    margin-bottom: 25px;
}

main strong{
    color: var(--cor5);
    font-weight: bold;
}

main a{
    text-decoration: none;
    font-weight: bold ;
    color: var(--cor6);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    margin: auto;
    display: block;
}

div.video{
    background-color: var(--cor6) ;
    margin: 0px -20px 30px -20px;  /*ESSE -20 NEGATIVO SE TRATA DA DIREITA E A ESQUERA Q IRAO FICAR COLADO COM A FOLHA DO MAIN*/
    padding:20px ;  
    padding-bottom: 58%;
    position: relative; 
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside > h3{
    background-color: var(--cor6);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style-type: '\2714\00A0\00A0'; 
    /*CODIGO Q PEGUEI NO (EMOJIPEDIA), SEMPRE Q FOR ULTILIZAR UM CODIGO DE LA POR ESSA BARRA INVERTIDA (O RESTO DAS INFORMAÇÕES ESTA NO CADERNO) */
    
    list-style-position: inside;  /*AS BOLINHAS FINCAM DENTRO DA ASIDE*/
    columns: 2; /*DIVIDIR A LISTA  EM DUAS PARTES*/
}


footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.9em ;
    padding: 5px;
}

footer > p > a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}
